<h2 class="alert alert-primary"> Ai cards</h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let ai of aiArr">
            <div class="card text-center">
                <div class="card-header tex-uppercase font-weight-bold">
                    {{ai.topic}}
                </div>
                <div class="card-body">
                    {{ai.details}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="alert alert-primary"> Math cards</h2>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let ai of mathArr">
            <div class="card text-center">
                <div class="card-header tex-uppercase font-weight-bold">
                    {{ai.concept}}
                </div>
                <div class="card-body">
                    {{ai.explain}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="alert alert-primary"> Robot cards</h2>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let ai of roboticsArr">
            <div class="card text-center">
                <div class="card-header tex-uppercase font-weight-bold">
                    {{ai.module}}
                </div>
                <div class="card-body">
                    {{ai.module}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="alert alert-primary"> Business cards</h2>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let ai of businessArr">
            <div class="card text-center">
                <div class="card-header tex-uppercase font-weight-bold">
                    {{ai.topicName}}
                </div>
                <div class="card-body">
                    {{ai.description}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="alert alert-primary"> Geography Cards </h2>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let ai of geographyArr">
            <div class="card text-center">
                <div class="card-header tex-uppercase font-weight-bold">
                    {{ai.subject}}
                </div>
                <div class="card-body">
                    {{ai.info}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="alert alert-primary"> Psychology Cards </h2>


<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let ai of psychologyArr">
            <div class="card text-center">
                <div class="card-header tex-uppercase font-weight-bold">
                    {{ai.field}}
                </div>
                <div class="card-body">
                    {{ai.concept}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="alert alert-primary"> Biolagy Cards </h2>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let ai of biologyArr">
            <div class="card text-center">
                <div class="card-header tex-uppercase font-weight-bold">
                    {{ai.section}}
                </div>
                <div class="card-body">
                    {{ai.detail}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="alert alert-primary"> Tch Tools Cards </h2>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let ai of techToolsArr">
            <div class="card text-center">
                <div class="card-header tex-uppercase font-weight-bold">
                    {{ai.tool}}
                </div>
                <div class="card-body">
                    {{ai.usage}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="alert alert-primary"> Education Cards </h2>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let ai of educationArr">
            <div class="card text-center">
                <div class="card-header tex-uppercase font-weight-bold">
                    {{ai.subjectName}}
                </div>
                <div class="card-body">
                    {{ai.overview}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="alert alert-primary"> Cloud  cards</h2>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let ai of cloudArr">
            <div class="card text-center">
                <div class="card-header tex-uppercase font-weight-bold">
                    {{ai.topic}}
                </div>
                <div class="card-body">
                    {{ai.info}}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>