<h2 class="alert alert-primary">{{productsText}}</h2>
<div class="row"><div class="col-md-6">
    <ul class="list-group">
    <li
    *ngFor="let prod of products.slice(0,products.length/2) let even = even; let odd = odd"
     class="list-group-item"
     [ngClass]="{
       'bg-info':even,
       'bg-light':odd
    }">
        {{prod}}
    </li>
</ul>
</div>
<div class="col-md-6">
    <ul class="list-group">
    <li
    *ngFor="let prod of products.slice(products.length/2) let i = index"
     class="list-group-item"
     [ngClass]="{
        'bg-secondary':i%2===0,
        'bg-light' : i%2!==0
     }">
        {{prod}}
    </li>
</ul>
</div></div>
<hr>
<h2 class="alert alert-primary">{{fruitsText}}</h2>
<ul class="list-group">
   <li
    *ngFor="let fruit of fruits"
     class="list-group-item">
        {{fruit}}
    </li>
</ul>
<hr>
<h2 class="alert alert-primary">{{colorsText}}</h2>
<ul class="list-group">
    <li
    *ngFor="let clr of colors"
     class="list-group-item">
        {{clr}}
    </li>
</ul>
<hr><h2 class="alert alert-primary">{{citiesText}}</h2>
<ul class="list-group">
    <li
    *ngFor="let ct of cities"
     class="list-group-item">
        {{ct}}
    </li>
</ul>
<hr><h2 class="alert alert-primary">{{subjectsText}}</h2>
<ul class="list-group">
    <li
    *ngFor="let sub of subjects"
     class="list-group-item">
        {{sub}}
    </li>
</ul>
<hr>
<h2 class="alert alert-primary">{{vehiclesText}}</h2>
<ul class="list-group">
    <li
    *ngFor="let vh of vehicles"
     class="list-group-item">
        {{vh}}
    </li>
</ul>
<hr>
<h2 class="alert alert-primary">{{animalsText}}</h2>
<ul class="list-group">
    <li
    *ngFor="let animal of animals"
     class="list-group-item">
        {{animal}}
    </li>
</ul>
<hr>
<h2 class="alert alert-primary">{{sportsText}}</h2>
<ul class="list-group">
    <li
    *ngFor="let sport of sports"
     class="list-group-item">
        {{sport}}
    </li>
</ul>
<hr>
<h2 class="alert alert-primary">{{countriesText}}</h2>
<ul class="list-group">
    <li
    *ngFor="let ctr of countries"
     class="list-group-item">
        {{ctr}}
    </li>
</ul>
<hr>
<h2 class="alert alert-primary">{{languagesText}}</h2>
<ul class="list-group">
    <li
    *ngFor="let prod of languages"
     class="list-group-item">
        {{prod}}
    </li>
</ul>
<hr>